extends layout

block content
    #bodyContent
        h1 SOBRE
        div
            p
                | bela_adormecida é um projecto em curso sobre o feminino e a cultura de vigilância vigente (tradicionalmente, fálica). Em Junho de 2018, o espectáculo _bela_adormecida foi apresentado, em formato de palco, no âmbito do FITEI – Festival Internacional de Teatro de Expressão Ibérica, em co-produção com o Rivoli – Teatro Municipal do Porto, com interpretação de Daniel Macedo Pinto, Diana de Sousa, Eloy Monteiro, Miguel Moreira, Paulo Mota e Vânia Rovisco.
            p
                | Esta versão duracional trata-se de uma instalação performativa composta por dois momentos: o Chat e o Encontro. Os espectadores são convidados a entrar e passar uma noite com uma mulher que se encontra adormecida. Cada “convidado” terá acesso a uma "bela adormecida" através de uma plataforma virtual de “Chat”, onde poderão “conversar" e acertar os detalhes para o Encontro. A marcação do Encontro é feita directamente com a “bela adormecida” por intermédio da plataforma virtual e só por essa via é possível confirmar a participação de cada convidado.
            p
                | Ficha Técnica e Artística:
                br
                |                 Concepção, Direção, Texto e Dramaturgia | Diana de Sousa
                br
                |                 Texto | Rui Pina Coelho
                br
                |                 Performers | Ágata Pinho, Diana de Sousa, Marisa Bimbo, Mónica Calle, Sofia Dinger e Xana Lagusi
                br
                |                 Imagem | Alípio Padilha
                br
                |                 Plataforma Virtual | Bruno Monteiro
                br
                |                 Produção | ORG.I.A/Self-Mistake
            p
                strong M/18