extends layout

block content
          #bodyContent2
            .chat-box
              .story-intro
                p
                  | Um pequeno quarto. Vemos algures um relógio despertador de mesa que toca todas as manhãs, sempre às sete. É meia-noite. Uma mulher, com uma peruca de fios de cabelos pretos que lhe caem ligeiramente abaixo do queixo e de lábios pintados de vermelho, dorme numa cama, imóvel. Está pronta para ser visitada.
                div
              p
                span.user-name Bela_adormecida: 
                | Um destes dias, vou estar sozinha, a dormir, num quarto. Vais ficar comigo da meia-noite às sete da manhã. Podes ficar o tempo que quiseres. Cinco minutos ou a noite toda. Mas, às sete da manhã, quando o relógio tocar, já lá não poderás estar. Para falares comigo entra no chat.
              .button
                a(href='chat.html') Bela_adormecida está offline.