extends layout

block content
          #bodyContent
            h1 Bela_adormecida
            div
              p
                | Conheces a história de uma mulher? Uma mulher forte como um touro que disse que só casaria com quem a derrubasse. Com quem a atirasse ao chão.
                br
                |                 Durante anos a fio
                br
                |                 apareceram muitos pretendentes.
                br
                |                 Muitos visitantes.
                br
                |                 Chegaram de todas as partes do mundo.
                br
                |                 Vinham fortes.
                br
                |                 Partiam fracos...
                br
                |                 Ninguém o conseguiu,
                br
                |                 ninguém a conseguiu derrubar.
                br
                br
                |                 O engano
                br
                |                 é pensarmos que um beijo resolve tudo.
                br


