doctype html
html
  head
    title bela_adormecida
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href="https://fonts.googleapis.com/css?family=Heebo|Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

  body
    #siteWrapper
      aside#mainNavigation
        ul
          li
            a(href='/') Bela_adormecida
          li
            a(href='/chat') CHAT
          li
            a(href='/sobre') SOBRE
          li
            a(href='/protocolo') PROTOCOLO
      #appWrapper
        #appInnerWrapper
            block content
