extends layout

block content
    #bodyContent
        h1 PROTOCOLO
        div
        p
            | Cada convidado tem o quarto reservado para si, das 00h00 às 07h00. Pode ficar o tempo que entender, desde que saia antes das sete da manhã. Se sair, não poderá voltar a entrar. Às 07h00 a Bela Adormecida desperta, ao som do relógio.
        div
        h2 É EXPRESSAMENTE PROIBIDO:
        ul
            li Remover o fato (segunda pele) que cobre o corpo da “Bela Adormecida”; 
            li Utilização de materiais cortantes ou pontiagudos;
            li Uso de câmaras fotográfica (filmar áudio ou imagem);
            li Uso de armas ou ferramentas, materiais explosivos ou inflamáveis; 
            li Uso de substâncias químicas ou tóxicas;
            li
            | Qualquer acto que coloque em causa a segurança e integridade física e/ou moral da “Bela Adormecida”

